# devenv data
/deployments/salesadmin/volumes

# go dependencies
/vendor/modules/download/
/vendor/modules/vcs/

# ignore template executables

# ignore certs
# run create-certs to get your own
# dev certs and protect them
/test/certs/
